---
// import { Head } from 'astro';
---

<!-- <Head>
  <title>页面未找到</title>
</Head> -->

<h1>404 - 页面未找到</h1>
<p>很抱歉，您访问的页面不存在。</p>

<script>
  // 判断 URL 是否包含多余斜杠
  const url = new URL(window.location.href);
  if (url.pathname.endsWith('/')) {
    // 重定向到没有斜杠的 URL
    window.location.href = url.pathname.slice(0, -1);
  }
</script>